#**1.0 | CONDICIONALES**

In [ ]:
#Ejemplo 1.1
# Asignación basada en una condición
edad = 20
mensaje = "Mayor de edad" if edad >= 18 else "Menor de edad"
print(mensaje)  # Output: Mayor de edad

Mayor de edad

In [ ]:
#Ejemplo 1.2
# Operación matemática condicional
a = 10
b = 0
resultado = a / b if b != 0 else "División por cero no permitida"
print(resultado)  # Output: 2.0

División por cero no permitida

In [ ]:
#Ejemplo 1.3
#  Anidar if
nota = int(input("Introduzca su nota: "))

if nota >= 90:
    grado = 'A'
else:
    if nota >= 80:
        grado = 'B'
    else:
        if nota >= 70:
            grado = 'C'
        else:
            if nota >= 60:
                grado = 'D'
            else:
                grado = 'F'

print(grado)  # Output: B

Introduzca su nota: 10
F

In [ ]:
#Ejemplo 1.4
# Uso de and
edad = 25
tiene_licencia = True

if edad >= 18 and tiene_licencia:
    print("Puede conducir")
else:
    print("No puede conducir")

Puede conducir

#**2.0 | Bucles**

### La principal diferencia entre for y while es que el bucle for se utiliza para iterar sobre una secuencia de elementos (como listas, tuplas, conjuntos, diccionarios) y se sabe de antemano cuántas veces se ejecutará, mientras que el bucle while se utiliza para repetir un bloque de código mientras una condición lógica sea verdadera, sin conocer necesariamente el número de iteraciones de antemano.

*2.1 | For*

In [ ]:
#Ejemplo 2.1.1
#Bucle for iterando sobre lista de números
numeros = [1, 2, 3, 4, 5]
for numero in numeros:
    print(numero)

In [ ]:
#Ejemplo 2.1.2
#Bucle for para imprimir la segunda letra de cada elemento de una lista

frutas = ["manzana", "banana", "cereza", "dátil"]

Bucle for para recorrer cada fruta en la lista
for fruta in frutas:
   # Imprimir la segunda letra de la fruta
    print(fruta[1])

*2.2 | While*

In [ ]:
#Ejemplo 2.2.1
# Bucle while sencillo

#Inicialización de la variable i con el valor 0
i = 0

#Bucle while que se ejecuta mientras i sea menor que 3
while i < 3:
    # Imprimir el valor actual de i
    print(i)
    # Incrementar el valor de i en 1 en cada iteración
    i += 1

In [ ]:
#Ejemplo 2.2.2
# Bucle while para imprimir la segunda letra de cada elemento de una lista
frutas = ["manzana", "banana", "cereza", "dátil"]

#Inicialización del índice para el bucle while
i = 0

while i < len(frutas):
    # Verificar si la longitud de la fruta actual es mayor o igual a 2
    if len(frutas[i]) >= 2:
        # Imprimir el segundo carácter de la fruta actual
        print(frutas[i][1])
    # Incrementar el índice para pasar a la siguiente fruta
    i += 1

In [ ]:
#Ejemplo 2.3
# Bucle while para encontrar una fruta
frutas = ["manzana", "banana", "cereza", "kiwi", "dátil"]

#Índice inicial
i = 0

#Bucle while para buscar la palabra "kiwi"
while i < len(frutas) and frutas[i] != "kiwi":
    # Pasar a la siguiente palabra
    i += 1

#Verificar si se encontró la palabra
if frutas[i] == "kiwi":
    print("La palabra 'kiwi' está en la lista.")

# **3.0 | LISTAS**

In [ ]:
#Ejemplo 3.1
# Crear lista de enteros
edades= [20,84,18,41,36,25]

print("Edad 1:",edades[0])
print(edades)

Edad 1: 20
[20, 84, 18, 41, 36, 25]

In [ ]:
#Ejemplo 3.1.1
# Borrar un elemento de la lista: remove
nombres = ["Lisy", "Isabel", "Daniel", "Andrea", "Sergio"]
nombres.remove("Andrea")
print(nombres)

['Lisy', 'Isabel', 'Daniel', 'Sergio']

In [ ]:
#Ejemplo 3.1.2
# .clear (elimina todos los elementos de una lista)
nombres = ["Lisy", "Isabel", "Daniel", "Andrea", "Sergio"]
nombres.clear()
print(nombres)

[]

In [ ]:
#Ejemplo 3.1.3
# .append (añadir elementos a la lista)

nombres= ["Lisy", "Isabel", "Daniel", "Andrea", "Sergio"]

nombres.append("Pepito")
print(nombres) # Mostramos la cadena con todos los valores de la lista
print("Nombre 6:",nombres[5])

['Lisy', 'Isabel', 'Daniel', 'Andrea', 'Sergio', 'Pepito']
Nombre 6: Pepito

In [ ]:
#Ejemplo 3.2
# Creando listas de cadenas
nombres= ["Lisy", "Isabel", "Daniel", "Andrea", "Sergio"]

print(nombres)
print("Nombre 3:",nombres[2])

['Lisy', 'Isabel', 'Daniel', 'Andrea', 'Sergio']
Nombre 3: Daniel

In [ ]:
#Ejemplo 3.2.1
# Segmentacion
flores = ["Jazmin", "Rosa", "Orquidea", "Margarita"] #se crea la lista teniendo en cuenta su estructura
flores_before_Orquidea = flores[0:2] # se crea una sublista que contenga las flores desde indice 0 y hasta el indice 1. No incluye el elemento de la posicion 2
print(flores_before_Orquidea) #se imprime en pantalla la lista con los dos elementos solicitados

['Jazmin', 'Rosa']

In [ ]:
#Ejemplo 3.2.2
# Combinacion
lunas_de_jupiter = [ "Io", "Europa", "Ganimedes", "Calisto", "Amaltea", "Himalia", "Elara", "Pasifae", "Sinope", "Lysithea" ] #se crea una lista
lunas_de_saturno = [ "Mimas", "Encélado", "Tetis", "Dione", "Rhea", "Titán" ] # se crea una segunda lista
lunas_de_jupiter_y_saturno = [lunas_de_jupiter + lunas_de_saturno] # se crea la combinacion de las dos listas anteriores usando el operativo +
print(lunas_de_jupiter_y_saturno) # se imprime el resultado de la combinacion de las dos listas anteriores

[['Io', 'Europa', 'Ganimedes', 'Calisto', 'Amaltea', 'Himalia', 'Elara', 'Pasifae', 'Sinope', 'Lysithea', 'Mimas', 'Encélado', 'Tetis', 'Dione', 'Rhea', 'Titán']]

In [ ]:
#Ejemplo 3.3
# Count
frutas = ['manzana', 'banana', 'naranja', 'manzana', 'pera', 'manzana']
cantidad_manzanas = frutas.count('manzana')
print(cantidad_manzanas)

3

In [ ]:
#Ejemplo 3.4
# Index (indicar la posicion del elemento dentro de la lista)
numeros = [10, 20, 30, 40, 50]
indice_30 = numeros.index(30)
print(indice_30)

2

In [ ]:
#Ejemplo 3.5
# Convertir una lista  a tupla

desceso = [1986, 1945, 2006, 2017, 2004, 1999]
desceso_tupla = tuple(desceso)
print(desceso_tupla)

(1986, 1945, 2006, 2017, 2004, 1999)

In [ ]:
#Ejemplo 3.5
# .sort
notas= [1,10,6,7,4,9]

notas_ascendente = notas.sort() #modifica la lista original pero no devuelve una lista ordenada
notas_descendente = notas.sort(reverse=True)

print(notas_ascendente)
print(notas_descendente)

None
None

In [ ]:
#Ejemplo 3.6
# .sorted

[1, 10, 6, 7, 4, 9]
notas_ascendente = sorted(notas) #para mantener la version original de la lista se puede usar sorted
notas_descendente = sorted(notas, reverse=True) #devuelve una lista ordenada

print(notas_ascendente)
print(notas_descendente)

[1, 4, 6, 7, 9, 10]
[10, 9, 7, 6, 4, 1]

In [ ]:
#Ejemplo 3.7
# .reverse (revertir el orden de una lista)
numeros = [1, 2, 3]
numeros.reverse()
print(numeros)

[3, 2, 1]

In [ ]:
#Ejemplo 3.8
# len
habitantes_de_narnia = ['Aslan', 'Digory', 'Edmund', 'Lucy']
cantidad = len(habitantes_de_narnia) #con len se mide la cantidad de elementos que hay en la lista
print("Los habitantes de Narnia son ",cantidad)

Los habitantes de Narnia son  4

In [ ]:
#Ejemplo 3.9
# in
nombres = ["Pepe", "Luis", "Alex", "Andrea", "Rosa", "Sara"]

print("Andrea" in nombres)

True

#**4.0 | TUPLAS**

In [ ]:
#Ejemplo 4.1
# Crear una tupla
productos = ("Manzana", "Pera", "Naranja", "Tomate", "Sandía")

# A diferencia de las listas, las tuplas se declaran con paréntesis () y no con corchetes []

print("Producto 1: ",productos[0])
print(productos)

Producto 1:  Manzana
('Manzana', 'Pera', 'Naranja', 'Tomate', 'Sandía')

In [ ]:
#Ejemplo 4.2
# .index (saber el índice de un elemento específico de la lista)

productos = ("Manzana", "Pera", "Naranja", "Tomate", "Sandía")

print("El índice de Manzana es:", productos.index("Manzana"))

El índice de Manzana es: 0

In [ ]:
#Ejemplo 4.3
# -count (contar el número de veces que está un elemento en la tupla)

personajes = ("Leonard", "Sheldon", "Rajesh", "Penny", "Howard", "Rajesh")

print("Este personaje está", personajes.count("Rajesh"), "veces en la tupla")

In [ ]:
#Ejemplo 4.4
# len (Obtener el número total de personajes en la tupla)

personajes = ("Leonard", "Sheldon", "Rajesh", "Penny", "Howard", "Rajesh")

total_personajes = len(personajes)

print(f"El número total de personajes en la tupla es: {total_personajes}")

In [ ]:
#Ejemplo 4.5
# Utilizamos al mismo tiempo las tuplas y los condicionales. En este caso, trabajamos con la tupla de animales de un zoo.
animales_del_zoo = ("jirafa", "león", "tigre", "cebra", "elefante", "rinoceronte", "pantera", "cocodrilo", "hipopótamo", "serpiente", "gorila", "chimpancé", "ballena", "orca", "delfín", "tortuga", "pingüino", "águila", "halcón", "mariposa", "abeja", "escorpión", "murciélago", "araña", "tiburón", "ballena", "pez payaso", "iguana", "camaleón", "lombriz")

# Verificar si un nombre de animal está en la tupla de animales
animal_buscado = "cabra"
if animal_buscado in animales_del_zoo:
    print("El animal forma parte del zoológico.")
else:
    print("Este animal no forma parte del zoológico.")

Este animal no forma parte del zoológico.

In [ ]:
# Ejemplo 4.6
#Tupla dentro de tupla que contiene los nombres y coordenadas de los barrios, datos que no varían con el tiempo.

tupla_barrios = (
    ("Delicias", (40.398, -3.695)),
    ("La Elipa", (40.422, -3.657)),
    ("Retiro", (40.415, -3.684)),
    ("Chamberí", (40.434, -3.703)),
    ("Malasaña", (40.426, -3.704)),
    ("Salamanca", (40.427, -3.679)),
    ("Chamartín", (40.457, -3.676)),
    ("Barrio de las Letras", (40.414, -3.699)),
    ("Arganzuela", (40.398, -3.693)),
    ("Moncloa-Aravaca", (40.435, -3.718))
)

while True:
    # Pedir al usuario el nombre del barrio
    nombre_barrio = input("Ingrese el nombre del barrio (o 'salir' para finalizar): ")

    # Verificar si el usuario quiere salir del bucle
    if nombre_barrio.lower() == "salir":
        break

    # Buscar el nombre del barrio en la tupla y mostrar sus coordenadas si se encuentra
    for nombre, coordenadas in tupla_barrios:
        if nombre.lower() == nombre_barrio.lower():
            print(f"Las coordenadas de {nombre} son: {coordenadas}")
            break
    else:
        # Mostrar un mensaje si el barrio no está en la lista
        print(f"El barrio '{nombre_barrio}' no está en la lista.")

Las coordenadas de Salamanca son: (40.427, -3.679)

#**5.0 | Comprensión de listas//list comprehension**

In [ ]:
#Ejemplo 5.1
# Crear una lista de cuadrados de los primeros 10 números:

cuadrados = [x ** 2 for x in range(10)]

print(cuadrados)

In [ ]:
#Ejemplo 5.2.1
# Filtrar números impares y elevarlos al cubo
numeros = range(10)
cubos_impares = [x**3 for x in numeros if x % 2 != 0]
print(cubos_impares)  # [1, 27, 125, 343, 729]

In [ ]:
#Ejemplo 5.2.2
# Filtrar números impares y elevarlos al cubo SIN LIST COMPREHENSIONS
numeros = range(10)
cubos_impares = []

for x in numeros:
    if x % 2 != 0:
        cubos_impares.append(x**3)

print(cubos_impares)  # [1, 27, 125, 343, 729]

[1, 27, 125, 343, 729]

Comparando los dos enfoques (5.2.1vs5.2.2), es evidente que las list comprehensions permiten escribir código más conciso y limpio, lo que puede mejorar la mantenibilidad y la comprensión del código.

In [ ]:
#Ejemplo 5.3
#Cadena de animales de la selva
animales_de_la_selva = "la jirafa, el león, el tigre, la cebra, el elefante, el rinoceronte, la pantera, el cocodrilo, el hipopótamo, la serpiente, el gorila, el chimpancé, la ballena, la orca, el delfín, la tortuga, el pingüino, el águila, el halcón, la mariposa, la abeja, el escorpión, el murciélago, la araña, el tiburón, la ballena, el pez payaso, la iguana, el camaleón, la lombriz"

# Separar la cadena en una lista de palabras
palabras = animales_de_la_selva.split(", ")

# Filtrar y calcular la longitud de las palabras excluyendo "el", "la" y el espacio adicional
longitud_palabras = [len(palabra[3:]) for palabra in palabras if palabra[:3] in ["el ", "la "]]

print(palabras)
print(longitud_palabras)

['la jirafa', 'el león', 'el tigre', 'la cebra', 'el elefante', 'el rinoceronte', 'la pantera', 'el cocodrilo', 'el hipopótamo', 'la serpiente', 'el gorila', 'el chimpancé', 'la ballena', 'la orca', 'el delfín', 'la tortuga', 'el pingüino', 'el águila', 'el halcón', 'la mariposa', 'la abeja', 'el escorpión', 'el murciélago', 'la araña', 'el tiburón', 'la ballena', 'el pez payaso', 'la iguana', 'el camaleón', 'la lombriz']
[6, 4, 5, 5, 8, 11, 7, 9, 10, 9, 6, 9, 7, 4, 6, 7, 8, 6, 6, 8, 5, 9, 10, 5, 7, 7, 10, 6, 8, 7]

In [ ]:
#Ejemplo 5.4
# Convertir toda la lista a MAYÚSCULAS

# Lista de 10 frutas
fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew", "kiwi", "lemon"]

# Convertir cada fruta a mayúsculas usando comprensión de listas
uppercase_fruits = [fruit.upper() for fruit in fruits]

# Imprimir la lista resultante
print(uppercase_fruits)

['APPLE', 'BANANA', 'CHERRY', 'DATE', 'ELDERBERRY', 'FIG', 'GRAPE', 'HONEYDEW', 'KIWI', 'LEMON']

In [ ]:
#Ejemplo 5.5
# zip
nombres = ["Ana", "Joaquín", "Beatriz", "Juan", "Elena"]
edades = (23, 34, 29, 19, 42)
ciudades = {"Madrid", "Barcelona", "Sevilla", "Valencia", "Bilbao"}

# Usando zip con diferentes tipos de iterables
combinados = zip(nombres, edades, ciudades)
print(list(combinados))

[('Ana', 23, 'Valencia'), ('Joaquín', 34, 'Bilbao'), ('Beatriz', 29, 'Barcelona'), ('Juan', 19, 'Madrid'), ('Elena', 42, 'Sevilla')]

#**6.0 | EJERCICIO**

In [ ]:
#Lista de estudiantes con sus nombres y edades
estudiantes = [("Juan", 16), ("María", 19), ("Pedro", 17), ("Ana", 20), ("Luis", 15)]

# Crear listas para estudiantes menores de 18 y mayores de 18 años
menores_de_18 = []
mayores_de_18 = []

# Organizar a los estudiantes en los grupos correspondientes
for nombre, edad in estudiantes:
    if edad < 18:
        menores_de_18.append(nombre)
    else:
        mayores_de_18.append(nombre)

# Imprimir los nombres de los estudiantes en cada grupo
print("Estudiantes menores de 18 años:")
for nombre in menores_de_18:
    print(nombre)

print("\nEstudiantes de 18 años o más:")
for nombre in mayores_de_18:
    print(nombre)

Estudiantes menores de 18 años:
Juan
Pedro
Luis

Estudiantes de 18 años o más:
María
Ana